{% extends "base.html" %}

{% block title %}Sign up{% endblock %}
{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>
<script>
    $(document).ready(function () {
        $('#formSignup').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: '/account/validate-email'
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'Email already in use'
                }
            }
        });
    });
</script>
{% endblock %}

{% block body %}
<h1>Sign up</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="../Signup/create" method="post" id="formSignup">
    <div>
        <label for="inputName">Name: </label>
        <input type="text" id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}" required/>
    </div>
    <div>
        <label for="inputEmail">Email: </label>
        <input type="email" id="inputEmail" name="email" placeholder="Email address" value="{{ user.email }}" required/>
    </div>
    <div>
        <label for="inputPassword">Password: </label>
        <input type="password" id="inputPassword" name="password" placeholder="Password" required/>
    </div>
    <!--    <div>-->
    <!--        <label for="inputPasswordConformation">Repeat Password: </label>-->
    <!--        <input type="password" id="inputPasswordConformation" name="password_conformation"-->
    <!--               placeholder="Repeat password"/>-->
    <!--    </div>-->

    <button type="submit">Sign up</button>
</form>


{% endblock %}

