{% extends "base.html" %}

{% block title %}Sign up{% endblock %}
{% block footer %}

{% endblock %}

{% block body %}
<h1>Sign up</h1>

<p>Success! Thank you for signing up.</p>
<p>Please check your email to activate your account.</p>

{% endblock %}