{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
<h1>Request password reset</h1>

<form action="/Password/request-reset" method="post">
    <div>
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" name="email" placeholder="Email address" autofocus required />
    </div>
    <button type="submit">Send password reset</button>
</form>

{% endblock %}

{% block footer %}

{% endblock %}