{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block body %}

<h1>Password reset successfully</h1>

<p>You can now <a href="/login">login</a>.</p>

{% endblock %}

{% block footer %}

{% endblock %}