{% extends "base.html" %}

{% block title %}{% endblock %}

{% block body %}
<h1>Log In</h1>

<form action="../Login/authenticate" method="post">
    <div>
        <label for="inputEmail">Email Address</label>
        <input type="email" id="inputEmail" name="email" placeholder="Email Address" autofocus value="{{ email }}"/>
    </div>
    <div>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="Password"/>
    </div>
    <div>
        <label>
            <!-- TODO Change this to include remember email or remember me  -->
            <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %} /> Remember me
        </label>
    </div>
    <button type="submit">Log in</button><br>
    <a href="/Password/forgot">Forgot password</a>
</form>

{% endblock %}

{% block footer %}
<script src="../js/hideShowPassword.min.js"></script>
<script>
    $(document).ready(function (){
        /**
         * Show password toggle button
         */
        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>

{% endblock %}