{% extends "base.html" %}

{% block title %}{% endblock %}

{% block body %}

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="/Profile/update" id="formProfile" method="post">
    <div>
        <label for="inputName">Name</label>
        <input type="text" name="name" id="inputName" placeholder="Name" value="{{ user.name }}" required/>
    </div>
    <div>
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" name="email" placeholder="Email address" value="{{ user.email }}" required/>
    </div>
    <div>
        <label for="inputPassword">Password</label>
        <input id="inputPassword" type="password" name="password" placeholder="Password"
                aria-describedby="helpBlock" />
        <span id="helpBlock">Leave blank to keep current password</span>
    </div>
    <button type="submit">Save</button>
    <a href="/profile/show">Cancel</a>
</form>

{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>

<script>
    $(document).ready(function () {
        let userId = '{{ user.id }}';
        /**
         * Validate the form
         */
        $('#formProfile').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: '/account/validate-email',
                        data: {
                            ignore_id: function () {
                                return userId;
                            }
                        }
                    }
                },
                password: {
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'email already taken'
                }
            }
        });


        /**
         * Show password toggle button
         */
        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>
{% endblock %}