{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
<h1>Profile</h1>

<dl>
    <dt>Name</dt>
    <dd>{{ user.name }}</dd>
    <dt>Email</dt>
    <dd>{{ user.email }}</dd>
</dl>

<a href="/Profile/edit">Edit</a>

{% endblock %}

{% block footer %}

{% endblock %}